{% extends 'base.html' %}

{% block title %}
Обо мне
{% endblock %}

{% block body %}
<div class="container">
    <h1 align="center">Обо мне</h1><br>
    <div class="container" style="width:70%">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://sun9-62.userapi.com/impg/92xvetDoDMiewK1zvPY8NbuITjtiX0qU5aKYkA/pO31alq839k.jpg?size=542x542&quality=95&sign=1eef2e251b08026624e63f84ea30a1c6&type=album"
                         width="290px" height="290px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Виктория Носова</h4>
                        <p class="card-text"><small class="text-body-secondary"><i>создатель сайта</i></small></p>
                        <p class="card-text"> – учусь в колледже на администратора баз данных<br><br> – прохожу курсы программирования на python<br><br> – прошла мастер-класс по разработке чат-ботов в телеграм на python<br><br> – личные качества: целеустремленность, стремление к саморазвитию</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive table-borderless align-middle">
                <tbody>
                <tr>
                    <th scope="row"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                                         width="50px" height="50px"></th>
                    <td>github: @s5weop</td>
                </tr>
                <tr>
                    <th scope="row"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/480px-Telegram_logo.svg.png"
                            width="50px" height="50px"></th>
                    <td>telegram: @s5weop</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}